* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('img/bg.jpg') no-repeat;
  /*background-color: #b9b9b9;*/
  background-size: cover;
}

.box {
  width: 400px;
  background: rgba(0, 0, 0, .4);
  padding: 5px;
  text-align: center;
  margin: 0 65px;
  margin-top: 1%;
  color: white;
  font-family: 'Century Gothic', sans-serif;
  border-radius: 35px;
  /* box-shadow: 7px 13px 37px black; */
}

.boxito {
  width: 600px;
  background: rgba(0, 0, 0, .4);
  padding: 5px;
  text-align: center;
  margin: 0 565px;
  margin-top: -22.5%;
  color: white;
  font-family: 'Century Gothic', sans-serif;
  border-radius: 35px;
  /* box-shadow: 7px 13px 37px black; */
}

.box-img {
  border-radius: 50%;
}

.box h1 {
  font-size: 30px;
  color: black;
  letter-spacing: 4px;
  font-weight: 100;
  margin: 30px 0 20px;
}

.box h2 {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 100;
  margin-bottom: 30px
}
.boxito h3 {
  font-size: 30px;
  color: black;
  letter-spacing: 4px;
  font-weight: 100;
  margin: 30px 0 20px;
}

.boxito h4 {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 100;
  margin-bottom: 30px;
  text-align: justify
}

.box p {
  text-align: justify;
}

.box ul {
  margin-top: 20px;
  list-style: none;
}

.box ul li {
  display: inline-block;
}
.box ul li a {
  color: white;
  font-size: 45px;
  padding: 10px 5px;
  transition: all .5s ease-in-out;
  display: block;
}

.box ul li a:hover {
  color:#b9b9b9;
  transform: scale(1.3);
}
/*/*/*/*/*/
.contenedor{
  width: 90%;
  background: rgba(0, 0, 0, .4);
  margin: 55px auto;
  box-shadow: 0 0 20px #333;

  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 50 px;
}

.tabla_titulo{
  grid-column-start: 1;
  grid-column-end: 5;
  
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.9em;
}


.tabla_subtitulos, .tabla_datos{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.tabla_subtitulos{
  font-weight: bold;
  font-size: 1.5em;
}

.tabla_datos{
  padding: 10px;
  font-size: 1.2em;
}

